doctype html
html(lang="en")
  head
    title McPhelpsius's Home Page
    link(href='http://fonts.googleapis.com/css?family=Poppins:400,600',rel='stylesheet',type='text/css')
    link(href='http://fonts.googleapis.com/css?family=VT323',rel='stylesheet',type='text/css')
    link(rel="stylesheet",type="text/css",href="styles/main.css")
    meta(name='viewport',content='width=device-width,initial-scale=1')
  body
    header
    div.content
      div.frontleftcolumn
        h4 Hello, again
      div.frontrightimage
    footer
      span &copy;2015 McPhelpsius and Such Stuff
