<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub</a>
      <a class="sidebar-nav-item" href="/WundergroundApp">Predict the Weather</a>
      <a class="sidebar-nav-item" href="/KitschyCache">The Way to a Woman's Heart</a>
      <a href="http://codepen.io/McPhelpsius/"><img src="./images/codepentitle.png" alt="Codepen"></a>      

    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
