<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.tagline }}</p>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/WundergroundApp">Predict the Weather</a>
      <a class="sidebar-nav-item" href="/KitschyCache">The Way to a Woman's Heart</a>
      <a class="sidebar-nav-item" href="/FreeCodeCamp-Quote-Generator/dist">Get Inspired Randomly</a>
      <a class="sidebar-nav-item" href="/Game-Of-Cards">Play Some Cards</a>
      <div class="flex social-imagelinks">
        <a href="http://codepen.io/McPhelpsius/"><img src="/images/thecodepenideserve.png" alt="Codepen"></a>
        <a href="http://github.com/McPhelpsius/"><img src="/images/githubwhite.png" alt="Github"></a>
      </div>    

    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
