<!DOCTYPE html>
<html lang="en" class="yui3-js-enabled">
  <head>
    <title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif%}</title>

    <link href="http://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=VT323" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="styles/pure-base.css">
    <link rel="stylesheet" type="text/css" href="styles/pure.css">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <script type="text/javascript" src="/js/behaviors.js">

    </script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">

  </head>
  <body id="theBody">
    <div id="body-div" class="flex">
      <div id="main-height" class="flex">
        {% include title.html %}
        <section id="the-content">{{ content }}</section>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
