$roboto: 'Roboto', times, serif;
$roboto-light: 'RobotoLight', times, serif;
$roboto-thin: 'RobotoThin', times, serif;
$roboto-bold: 'RobotoBold', times, serif;
$quicksand: 'Quicksand', helvetica, sans-serif;
$quicksand-bold: 'QuicksandBold', helvetica, sans-serif;
$quicksand-light: 'QuicksandLight', helvetica, sans-serif;
$quicksand-li: 'QuicksandLightItalic', helvetica, sans-serif;
$quicksand-italic: 'QuicksandItalic', helvetica, sans-serif;
$quicksand-bi: 'QuicksandBoldItalic', helvetica, sans-serif;
